services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:9000"

  crawlerservice:
    build:
      context: ./services/crawlerservice
      dockerfile: Dockerfile
    ports:
      - "9001:9001"
