services:
  # Eureka Server - Service Discovery


  # Discovery Server (API Gateway)
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "8080:8080"
    networks:
      - spring-network

  authservice:
    build:
      context: ./services/authservice
      dockerfile: Dockerfile
    container_name: authservice
    ports:
      - "8081:8081"
    networks:
      - spring-network

  # User Service
  userservice:
    build:
      context: ./services/userservice
      dockerfile: Dockerfile
    container_name: userservice
    ports:
      - "8082:8082"
    networks:
      - spring-network

networks:
  spring-network:
    driver: bridge

volumes:
  postgres-data:
